
export FIREEWORKS_PING_EMBEDDING_API="https://api.fireworks.ai/inference/v1/embeddings"
export FIREEWORKS_PING_CHAT_API="https://api.fireworks.ai/inference/v1/chat/completions"
export FIREEWORKS_PING_API_KEY="123456"
export FIREEWORKS_PONG_EMBEDDING_API="https://api.fireworks.ai/inference/v1/embeddings"
export FIREEWORKS_PONG_CHAT_API="https://api.fireworks.ai/inference/v1/chat/completions"
export FIREEWORKS_PONG_API_KEY="654321"
