
export PING_EMBEDDING_API="https://api.fireworks.ai/inference/v1/embeddings"
export PING_CHAT_API="https://api.fireworks.ai/inference/v1/chat/completions"
export PING_API_KEY="123456"
export PONG_EMBEDDING_API="https://api.fireworks.ai/inference/v1/embeddings"
export PONG_CHAT_API="https://api.fireworks.ai/inference/v1/chat/completions"
export PONG_API_KEY="654321"
